.buttonGreen {
    background-color: limegreen !important;
    box-shadow: 0 5px 0 green !important;
}

.buttonGreen:active {
    box-shadow: 0 0 0 green !important;
}

.buttonGreen:hover {
    background-color: limegreen !important;
}

.buttonBlue {
    background-color: blue !important;
    box-shadow: 0 5px 0 navy !important;
}

.buttonBlue:active {
    box-shadow: 0 0 0 navy !important;
}

.buttonBlue:hover {
    background-color: blue !important;
}

.buttonRed {
    background-color: red !important;
    box-shadow: 0 5px 0 maroon !important;
}

.buttonRed:active {
    box-shadow: 0 0 0 maroon !important;
}

.buttonRed:hover {
    background-color: red !important;
}

.buttonYellow {
    background-color: gold !important;
    box-shadow: 0 5px 0 goldenrod !important;
}

.buttonYellow:active {
    box-shadow: 0 0 0 goldenrod !important;
}

.buttonYellow:hover {
    background-color: gold !important;
}

.buttonCancel {
    text-decoration: line-through !important;
}

.jlptControl {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
    position: absolute;
    bottom: 0;
}

.kanjiContainer {
    display: flex;
}

.kanji {
    font-size: 150px;
}

.kanjiMeaning {
    width: 60%;
    text-align: center;
}

.kanjiBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kanjiDetails {
    width: 150px;
    align-self: center;
    text-align: center;
}

.jlptNumber {
    text-align: center;
    font-weight: bold;
    color: darkorange;
}

.kanjiNext {
    margin-top: 10px;
}